* { 
  margin:0; 
  padding:0; 
  box-sizing:border-box; 
}

header {
  padding: 10px;
}

section {
    padding:5em 0;
}
h1  {
    font-size: 40px;
    font-family: 'Noto Serif', serif;
}

h2  {
    text-align: left;
    font-size: 30px;
    font-family: 'Noto Serif', serif;
}

aside {
  width: 300px;
}

.man-window img {
    padding: 0 20px 0 20px;
}

#aa-windows {
    color: rgb(0,56,101);
    font-weight: bold;
    font-size: larger;
}

h3 {
  text-align: center;
  font-size: 25px;
  font-family: 'Noto Serif', serif;
}

h5 {
  text-align: left;
  color: rgb(0, 0, 0);
}

body {
  text-align: left;
  font-size: 20px;
  font-family: Helvetica;
}

a {
  color: dd0000;
  text-decoration: none;  
  }

nav {
  backround color: #ffffff;
  text-align: left;
  backround color: #333333;
}

nav a {
    margin-left: 10px;
    margin-right: 10px;
}

article {
    padding: 30px 0;
}

ul {
padding:10px;

}

hr {
   width: 1800px;
  }

.centered-icons {
   text-align: center;
}

.centered-icons img {
    padding: 0 20px 0 20px;
}

#man {
    float: right;
    width: 300px;
}

#benefits {
    text-align: center;
    color: rgb(0,56,101);
    font-weight: bold;
    font-size: larger;
    background-color: #ccc;
}

#top-grade {
    background-color: #ccc;
}

#branded-windows {
    background-color: #abc;
    padding-bottom: 20px;
}

#wrapper {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

