* { 
  margin:0; 
  padding:0; 
  box-sizing:border-box; 
}

#toptext {
  overflow: hidden;
  max-width: 75ch;
}

#middletext {
  overflow: hidden;
  max-width: 75ch;
}

#bottomtext {
  overflow: hidden;
  max-width: 75ch;
  text-align: left;
}

header {
  background-color: #FFED74;
  border: 1px black solid;
  padding: 20px;
}

nav {
  backround-color: #E8C66A;
  border: 1px black solid;
  padding: 20px;
}

nav a {
    margin-left: 10px;
    margin-right: 10px;
}

h1  {
    font-size: 40px;
    font-family: 'Noto Serif', serif;
}

h2  {
    font-size: 30px;
    font-family: 'Noto Serif', serif;
    text-align: left;
}

h3 {
  text-align: left;
  font-size: 25px;
  padding: 10px 0 0;
  font-family: 'Noto Serif', serif;
}

h4 {
  text-align: left;
}

body {
  text-align: left;
  font-size: 20px;
  font-family: Helvetica;
}

aside {
  background-color: #FFC675;
  border: 1px black solid;
  padding: 20px;
  float: right;
}

.man-window img {
  background-color: #FFE2B8;
}

article {
    background-color: #E89C6C
    border: 1px black solid;
    padding: 20px;
    padding: 10px 0 0 20px;
    text-align: left;
}

#aa-windows {
    color: rgb(0,56,101);
    font-weight: bold;
    font-size: larger;
    padding: 30px 20px 0;
}

a {
  color: dd0000;
  text-decoration: none;  
  }

ul {
padding:10px;

}

hr {
   width: 1800px;
  }

.centered-icons {
   text-align: center;
}

.centered-icons img {
    background-color: #FFE2B8;
    padding: 0 20px 0 20px;
}

#man {
    float: right;
    width: 200px;
}

#benefits {
    text-align: left;
    color: rgb(0,56,101);
    font-weight: bold;
    font-size: larger;
    background-color: #ccc;
}

#top-grade {
    background-color: #ccc;
}

#branded-windows {
    background-color: #abc;
    padding-bottom: 20px;
}

footer {
  text-align: center;
  padding: 20px;
}