h1	{
  	font-size: 40px;
    font-style: italic;
}
#slogan {
    font-style: italic;
}
h2	{
  	font-size: 22px;
}

body {
	text-align: left;
  background-color: rgb(201, 76, 76);
	color: #fff;
  font-family: Helvetica;
  font-size: 12;
	}

hr {
  	width: 1800px;
	}
#container { 
overflow: hidden; 
}
#floated-imgs { 
float: right; 
}
#floated-imgs img {
display: block; 
}

h3 {
text-align: right;
}